/**
 * Стили компонента навигации
*/

.change-view
{
    svg
    {
        color: darkgray;
        font-size: 20px;
    }

    &.active
    {
        svg
        {
            color: #3f50e7;
        }
    }
}

.active-buttons
{
    width: 40px;
    height: 40px;
}