/**
 * Общие стили
*/

.form-container
{
    width: 320px;
    z-index: 2;
}

.bg-gradient
{
    background: linear-gradient(19deg, rgb(33, 212, 253) 0%, rgb(183, 33, 255) 100%);
    border: none;
}

.project-container
{
    width: 90%;
    margin: auto;
}

@media(max-width: 350px) {
    #reg-form
    {
        form
        {
            .form-group
            {
                margin-bottom: 0;
            }
            label
            {
                margin-bottom: 0;
            }
            .btn
            {
                margin: 10px 0 0 0;
            }
        }
    }
}